{% extends "base.html" %}

{% block app_content %}
    <h1>Alle verfügbaren Spiele.</h1>
    <br>
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Spielname</th>
                <th scope="col">Spieler Min.</th>
                <th scope="col">Spieler Max.</th>
                <th scope="col">Dauer Min.</th>
                <th scope="col">Mauer Max.</th>
            </tr>
        </thead>
        <tbody>
            {% for spiel in spiele %}
            <tr>
                <th> {{ spiel.spiel_id }} </th>
                <td> {{ spiel.spielname }} </td>
                <td> {{ spiel.spieler_min }} </td>
                <td> {{ spiel.spieler_max }} </td>
                <td> {{ spiel.dauer_min }} Minuten</td>
                <td> {{ spiel.dauer_max }} Minuten</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}